<div id="logo">
    <a href="~/index.html"> <img src="images/logo.png" /> </a>
</div>
<div id="navigation">
    <select @onselectionchange="">
        @for (int index = 0; index < Pages.Count; index++)
        {
            <option>
                @FixLinkTextFormat(Pages[index])
            </option>
        }
    </select>
</div>
<div id="userSettings">
    <a href="/settings" >Settings</a>
</div>
<div id="horizontalLine">
    <hr />
</div>

@code {
    List<string> Pages = new List<string>
        {
            "/index", "/counter", "/fetchdata"
        };

    private string FixLinkTextFormat(string page)
    {
        string newString = page.Replace('/', ' ');
        return newString.Trim();
    }

    private void NavSelection()
    {
        
    }
}
